$color-black-100: #383838;
$color-black-200: #242424;

$color-gray-100: #BEBEBE;
$color-gray-200: #959595;

$color-white-100: #FFFFFF;
$color-white-200: #F3F4F0;

$color-violet-100: #A36EBE;
$color-violet-200: #9E50C7;

$color-blue-100: #01A9D5;
$color-blue-200: #027EC2;

$color-yellow-100: #FFC633;
$color-yellow-200: #FFB92A;

$color-aquamarine-100: #A5DFDD;
$color-aquamarine-200: #23BCC7;

$color-green-100: #5DD1B7;
$color-green-200: #51C7A5;
$color-green-300: #14AD99;

$color-pistachio-100: #B1D465;

$color-red-100: #FE6A69;
$color-red-200: #FA5452;

$color-pink-100: #F3B6D1;
$color-pink-200: #F669A2;

$color-blue-100: #411bdc;
$color-blue-200: #240b89;

$color-brown-200: #c49a1c;

$content-width: 1110px;

// Sizes
$fullHD: 1920px;
$xl: 1600px;
$lg: 1280px;
$md: 769px;
$xs: 425px;